.header__top, .slider__intro {
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase; }

.process__top, .box {
  font-weight: 600;
  font-size: 13px; }

.btn, .box__label {
  font-weight: 600;
  font-size: 15px; }

body,
ul,
button,
input,
textarea,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth;
  color: #253757; }

p {
  color: #6c788b; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
  a:focus {
    outline: 2px solid #ff9c8e; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600; }

html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5; }

.header__top {
  font-size: 13px;
  line-height: 1; }

@media screen and (max-width: 900px) {
  .header__top {
    font-size: 20px; } }

.title__heading {
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px; }

@media screen and (max-width: 750px) {
  .title__heading {
    font-size: 34px;
    line-height: 37px;
    letter-spacing: -1px; } }

@media screen and (max-width: 450px) {
  .title__heading {
    font-size: 30px; } }

.btn {
  font-family: inherit;
  line-height: 22px; }

.slider__intro {
  font-size: 13px;
  line-height: 19px; }

.slider__paragraph {
  font-size: 14px;
  line-height: 1.4; }

.section__heading {
  font-weight: 600;
  font-size: 50px; }

@media screen and (max-width: 450px) {
  .section__heading {
    font-size: 37px; } }

.info {
  font-weight: 600; }
  .info__heading {
    font-size: 32px; }
  .info__paragraph {
    font-size: 24px; }
  @media screen and (max-width: 450px) {
    .info__heading {
      font-size: 26px; }
    .info__paragraph {
      font-size: 18px; } }

.service__heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4; }

.service__text {
  font-size: 13px;
  text-align: center; }

.process__top {
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.process__heading {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3; }

.process__paragraph {
  font-size: 14px; }

@media screen and (max-width: 450px) {
  .process__heading {
    font-size: 28px; } }

.box__num {
  line-height: 19px; }

.box__label {
  line-height: 22px; }

body {
  background-color: #f2f9ff; }

.header {
  position: relative;
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 45px 50px 205px;
  border-bottom-left-radius: 200px;
  background-color: #008aff;
  overflow: hidden;
  color: white; }
  .header__wrap {
    position: relative;
    max-width: 1140px;
    margin: auto; }
  .header__logo {
    position: absolute;
    top: 0;
    left: 0; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 28px;
    margin-left: 124px; }
  .header__action {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 70px; }
    .header__action::after {
      content: "";
      position: absolute;
      display: block;
      width: calc(100% - 3px);
      height: 2px;
      background: #ff9c8e;
      border-radius: 4px;
      bottom: -8px; }
  .header__text {
    margin-top: 165px; }
  .header__slider {
    bottom: 0;
    right: 0; }
  .header__toggle {
    display: none; }
  .header__btn {
    position: absolute;
    display: none;
    width: 25px;
    height: 20px;
    padding: 6px 0;
    top: 0;
    right: 0;
    cursor: pointer; }
  .header__span, .header__span::before, .header__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 14px;
    border-radius: 2px;
    background-color: white;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .header__span::before {
    content: "";
    top: -8px; }
  .header__span::after {
    content: "";
    top: 8px; }
  .header__toggle:checked ~ .header__btn > .header__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header__toggle:checked ~ .header__btn > .header__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .header__toggle:checked ~ .header__btn > .header__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  @media screen and (max-width: 900px) {
    .header__toggle:checked ~ .header__top {
      height: 225px; } }
  @media screen and (min-width: 1600px) {
    .header {
      border-bottom-right-radius: 200px; } }
  @media screen and (max-width: 1550px) {
    .header {
      padding-bottom: 95px;
      border-bottom-left-radius: 150px; }
      .header__text {
        margin-top: 50px; } }
  @media screen and (max-width: 900px) {
    .header {
      padding-bottom: 50px;
      border-bottom-left-radius: 100px; }
      .header__wrap {
        padding-top: 30px; }
      .header__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        height: 0;
        margin-left: 0;
        overflow: hidden;
        -webkit-transition: height 0.5s;
        transition: height 0.5s; }
      .header__action {
        margin-left: 0; }
      .header__btn {
        display: block; } }
  @media screen and (max-width: 750px) {
    .header {
      max-width: 500px;
      padding-bottom: 385px;
      border-bottom-left-radius: 85px;
      border-bottom-right-radius: 85px; } }
  @media screen and (max-width: 450px) {
    .header {
      padding: 30px 30px 310px;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 0; } }

.logo {
  display: block;
  width: 46px;
  height: 28px;
  background-image: url(../images/logo/Air-logo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.nav {
  width: 690px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__link, .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    color: white;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover, .header__link:hover {
      color: #ff9c8e; }
  @media screen and (max-width: 900px) {
    .nav {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        margin-top: 30px; } }

.title {
  max-width: 365px; }
  .title__heading {
    margin-bottom: 32px; }
  .title__paragraph {
    margin-bottom: 83px;
    color: inherit; }
  .title__btn {
    width: 225px; }
  @media screen and (max-width: 900px) {
    .title__paragraph {
      margin-bottom: 45px; } }

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  background: #ff9c8e;
  border: 2px solid #ff9c8e;
  border-radius: 64px;
  cursor: pointer;
  color: white;
  outline: none;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .button:hover {
    background: white; }
  .button:hover {
    color: #ff9c8e; }
  .button:focus {
    -webkit-box-shadow: 0 3px 25px white;
            box-shadow: 0 3px 25px white; }

.slider {
  position: absolute;
  width: 687px;
  height: 680px;
  border-top-left-radius: 200px;
  overflow: hidden; }
  .slider__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .slider__wrap {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
    height: 68px;
    bottom: 50px;
    left: 45px; }
  .slider__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 72px;
    height: 32px; }
  .slider__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 264px;
    height: 68px; }
  .slider__nav {
    display: block;
    width: 12px;
    height: 12px; }
  .slider__intro, .slider__paragraph {
    color: inherit; }
  @media screen and (max-width: 1550px) {
    .slider {
      width: 480.9px;
      height: 476px;
      border-top-left-radius: 150px; } }
  @media screen and (max-width: 900px) {
    .slider {
      width: 343.5px;
      height: 340px;
      border-top-left-radius: 100px; }
      .slider__wrap {
        width: 315px;
        bottom: 25px;
        left: 22px; }
      .slider__text {
        width: 225px; } }
  @media screen and (max-width: 750px) {
    .slider {
      border-top-left-radius: 85px; } }
  @media screen and (max-width: 450px) {
    .slider {
      width: 274.8px;
      height: 272px;
      border-top-left-radius: 35px; } }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  outline: none; }
  .btn:focus {
    -webkit-box-shadow: 0 3px 25px #008aff;
            box-shadow: 0 3px 25px #008aff; }

.btn_big {
  width: 40px;
  height: 40px;
  background-color: #56ccf2; }
  .btn_big:focus {
    -webkit-box-shadow: 0 3px 25px #56ccf2;
            box-shadow: 0 3px 25px #56ccf2; }
  .btn_big_yellow {
    background-color: #fcc91d; }
    .btn_big_yellow:focus {
      -webkit-box-shadow: 0 3px 25px #fcc91d;
              box-shadow: 0 3px 25px #fcc91d; }
  .btn_big_green {
    background-color: #15d850; }
    .btn_big_green:focus {
      -webkit-box-shadow: 0 3px 25px #15d850;
              box-shadow: 0 3px 25px #15d850; }
  .btn_big_red {
    background-color: #f36363; }
    .btn_big_red:focus {
      -webkit-box-shadow: 0 3px 25px #f36363;
              box-shadow: 0 3px 25px #f36363; }

.section {
  padding: 130px 50px; }
  .section:nth-child(2) {
    background-color: white; }
  .section__wrap {
    margin: auto; }
  .section__wrap_process {
    position: relative;
    max-width: 1140px;
    padding: 120px 0 150px; }
  .section__heading {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 64px; }
  .section__container {
    position: absolute;
    top: 0;
    right: 0; }
  @media screen and (max-width: 1100px) {
    .section__wrap_process {
      padding: 0; }
    .section__container {
      position: static; } }
  @media screen and (max-width: 900px) {
    .section {
      padding-top: 70px;
      padding-bottom: 70px; } }
  @media screen and (max-width: 750px) {
    .section {
      padding-top: 45px;
      padding-bottom: 45px; }
      .section__heading {
        margin-bottom: 40px; } }
  @media screen and (max-width: 450px) {
    .section {
      padding-left: 30px;
      padding-right: 30px; } }

.info {
  max-width: 755px; }
  .info__paragraph {
    margin-top: 10px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1140px;
  margin: auto; }
  .row__item {
    max-width: 265px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  @media screen and (max-width: 1050px) {
    .row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .row__item {
        margin: 0 70px 50px; }
      .row__item:last-child {
        margin-bottom: 0; } }
  @media screen and (max-width: 450px) {
    .row__item {
      margin-left: 0;
      margin-right: 0; } }

.service__photo {
  position: relative;
  width: 166px;
  height: 166px;
  border-radius: 15%;
  overflow: hidden; }

.service__img {
  width: 100%; }

.service__heading {
  margin: 40px 0 16px; }

.process {
  max-width: 360px; }
  .process__top {
    color: #c0cdd7; }
  .process__heading {
    margin-top: 16px; }
  .process__paragraph {
    margin-top: 24px; }
  @media screen and (max-width: 1100px) {
    .process {
      margin: 0 auto 55px; } }

.container {
  display: grid;
  grid-template-columns: 264px 264px;
  gap: 30px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 670px) {
    .container {
      grid-template-columns: 264px; } }

.box {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 264px;
  height: 264px;
  padding: 32px;
  border-radius: 24px;
  background: white;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }
  .box:nth-child(odd) {
    top: 135px; }
  .box__num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 46px;
    height: 24px;
    margin-bottom: 24px;
    border-radius: 23px;
    background: rgba(86, 203, 242, 0.25);
    color: #56ccf2; }
    .box__num_yellow {
      background: rgba(252, 200, 29, 0.25);
      color: #fcc91d; }
    .box__num_green {
      background: rgba(21, 216, 79, 0.25);
      color: #15d850; }
    .box__num_red {
      background: rgba(243, 99, 99, 0.25);
      color: #f36363; }
  .box__text {
    margin-bottom: 32px; }
  .box__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 143px; }
  @media screen and (max-width: 1100px) {
    .box:nth-child(odd) {
      top: 0; }
    .box:nth-child(even) {
      top: 135px; } }
  @media screen and (max-width: 670px) {
    .box:nth-child(even) {
      top: 0; } }

/*# sourceMappingURL=main.css.map */
