.header__top, .nav-mob, .slider__intro {
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase; }

.info__heading, .process__heading, .approach__heading, .testimonials__heading {
  font-weight: 600;
  font-size: 32px; }
  @media screen and (max-width: 450px) {
    .info__heading, .process__heading, .approach__heading, .testimonials__heading {
      font-size: 26px; } }

.button, .box__label {
  font-weight: 600;
  font-size: 15px; }

.process__top, .approach__top, .testimonials__top {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase; }

body,
ul,
button,
input,
textarea,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth;
  color: #253757; }

p {
  color: #6c788b; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
  a:focus {
    outline: 2px solid #ff9c8e; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600; }

html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5; }

.header__top {
  font-size: 13px;
  line-height: 1; }

.nav-mob {
  font-size: 25px;
  line-height: 1; }

.title__heading {
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px; }

@media screen and (max-width: 750px) {
  .title__heading {
    font-size: 34px;
    line-height: 37px;
    letter-spacing: -1px; } }

@media screen and (max-width: 450px) {
  .title__heading {
    font-size: 30px; } }

.button {
  font-family: inherit;
  line-height: 22px; }

.slider__intro {
  font-size: 13px;
  line-height: 19px; }

.slider__paragraph {
  font-size: 14px;
  line-height: 1.4; }

.section__heading {
  font-weight: 600;
  font-size: 50px; }

@media screen and (max-width: 450px) {
  .section__heading {
    font-size: 35px; } }

.info__paragraph {
  font-weight: 600;
  font-size: 24px; }

@media screen and (max-width: 450px) {
  .info__paragraph {
    font-size: 18px; } }

.service__heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4; }

.service__text {
  font-size: 13px;
  text-align: center; }

.process__heading {
  line-height: 1.3; }

.process__paragraph {
  font-size: 14px; }

.box {
  font-weight: 500;
  font-size: 13px; }
  .box__num {
    line-height: 19px; }
  .box__label {
    line-height: 22px; }

.approach__text {
  font-size: 15px; }

@media screen and (max-width: 350px) {
  .approach__heading {
    font-size: 23px; } }

.client {
  font-weight: 500;
  font-size: 13px; }
  .client__text {
    text-align: center; }
  .client__company {
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase; }

body {
  background-color: #f2f9ff; }

.header {
  position: relative;
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 45px 50px 205px;
  border-bottom-left-radius: 200px;
  background-color: #008aff;
  overflow: hidden;
  color: white; }
  .header__wrap {
    position: relative;
    max-width: 1140px;
    margin: auto; }
  .header__logo {
    position: absolute;
    top: 0;
    left: 0; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 28px;
    margin-left: 124px; }
  .header__action {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 70px; }
    .header__action::after, .nav-mob__action::after {
      content: "";
      position: absolute;
      display: block;
      width: calc(100% - 3px);
      height: 2px;
      background: #ff9c8e;
      border-radius: 4px;
      bottom: -8px; }
  .header__text {
    margin-top: 165px; }
  .header__slider {
    bottom: 0;
    right: 0; }
  .header__toggle {
    display: none; }
  .header__btn {
    position: absolute;
    display: none;
    width: 25px;
    height: 20px;
    padding: 6px 0;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 2; }
  .header__span, .header__span::before, .header__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 14px;
    border-radius: 2px;
    background-color: white;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .header__span::before {
    content: "";
    top: -8px; }
  .header__span::after {
    content: "";
    top: 8px; }
  .header__toggle:checked ~ .header__btn > .header__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header__toggle:checked ~ .header__btn > .header__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .header__toggle:checked ~ .header__btn > .header__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  @media screen and (max-width: 900px) {
    .header__toggle:checked ~ .header__nav-mob {
      visibility: visible;
      top: 0; } }
  @media screen and (min-width: 1601px) {
    .header {
      border-bottom-right-radius: 200px; } }
  @media screen and (max-width: 1150px) {
    .header {
      padding-bottom: 95px;
      border-bottom-left-radius: 150px; }
      .header__text {
        margin-top: 50px; } }
  @media screen and (max-width: 900px) {
    .header {
      padding-bottom: 50px;
      border-bottom-left-radius: 100px; }
      .header__wrap {
        padding-top: 30px; }
      .header__top {
        display: none; }
      .header__btn {
        display: block; } }
  @media screen and (max-width: 750px) {
    .header {
      max-width: 500px;
      padding-bottom: 385px;
      border-bottom-left-radius: 85px;
      border-bottom-right-radius: 85px; } }
  @media screen and (max-width: 450px) {
    .header {
      padding: 30px 30px 310px;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 0; } }

.logo {
  display: block;
  width: 46px;
  height: 28px;
  background-image: url(../images/logo/Air-logo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .link:hover {
    color: #ff9c8e; }

.nav {
  width: 690px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.nav-mob {
  position: fixed;
  visibility: hidden;
  top: -100%;
  left: 0;
  right: 0;
  height: 100%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #008aff; }
  .nav-mob__logo {
    position: relative;
    bottom: 50px; }
  .nav-mob__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav-mob__item {
    margin-top: 10px; }
  .nav-mob__action {
    position: relative;
    margin-top: 10px; }

.title {
  max-width: 365px; }
  .title__heading {
    margin-bottom: 32px; }
  .title__paragraph {
    margin-bottom: 83px;
    color: inherit; }
  .title__btn {
    width: 225px; }
  @media screen and (max-width: 900px) {
    .title__paragraph {
      margin-bottom: 45px; } }

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  background: #ff9c8e;
  border: 2px solid #ff9c8e;
  border-radius: 64px;
  cursor: pointer;
  color: white;
  outline: none;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .button:hover {
    background: white; }
  .button:hover {
    color: #ff9c8e; }
  .button:focus {
    -webkit-box-shadow: 0 3px 25px white;
            box-shadow: 0 3px 25px white; }

.slider {
  position: absolute;
  width: 687px;
  height: 680px;
  border-top-left-radius: 200px;
  overflow: hidden; }
  .slider__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .slider__wrap {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
    height: 68px;
    bottom: 50px;
    left: 45px; }
  .slider__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 72px;
    height: 32px; }
  .slider__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 264px;
    height: 68px; }
  .slider__nav {
    display: block;
    width: 12px;
    height: 12px; }
  .slider__intro, .slider__paragraph {
    color: inherit; }
  @media screen and (max-width: 1150px) {
    .slider {
      width: 480.9px;
      height: 476px;
      border-top-left-radius: 150px; } }
  @media screen and (max-width: 900px) {
    .slider {
      width: 343.5px;
      height: 340px;
      border-top-left-radius: 100px; }
      .slider__wrap {
        width: 315px;
        bottom: 25px;
        left: 22px; }
      .slider__text {
        width: 225px; } }
  @media screen and (max-width: 750px) {
    .slider {
      border-top-left-radius: 85px; } }
  @media screen and (max-width: 450px) {
    .slider {
      width: 274.8px;
      height: 272px;
      border-top-left-radius: 35px; } }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  outline: none; }
  .btn:focus {
    -webkit-box-shadow: 0 3px 25px #008aff;
            box-shadow: 0 3px 25px #008aff; }

.btn_big {
  width: 40px;
  height: 40px;
  background-color: #56ccf2;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .btn_big:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  .btn_big:focus {
    -webkit-box-shadow: 0 3px 25px #56ccf2;
            box-shadow: 0 3px 25px #56ccf2; }
  .btn_big_yellow {
    background-color: #fcc91d; }
    .btn_big_yellow:focus {
      -webkit-box-shadow: 0 3px 25px #fcc91d;
              box-shadow: 0 3px 25px #fcc91d; }
  .btn_big_green {
    background-color: #15d850; }
    .btn_big_green:focus {
      -webkit-box-shadow: 0 3px 25px #15d850;
              box-shadow: 0 3px 25px #15d850; }
  .btn_big_red {
    background-color: #f36363; }
    .btn_big_red:focus {
      -webkit-box-shadow: 0 3px 25px #f36363;
              box-shadow: 0 3px 25px #f36363; }

.section {
  padding: 130px 50px; }
  .section:nth-child(2) {
    background-color: white; }
  .section__wrap {
    margin: auto; }
  .section_process .section__wrap {
    position: relative;
    max-width: 1140px;
    padding: 120px 0 150px; }
  .section__heading {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 64px; }
  .section__container {
    position: absolute;
    top: 0;
    right: 0; }
  @media screen and (max-width: 1100px) {
    .section_process .section__wrap {
      padding: 0; }
    .section__container {
      position: static; } }
  @media screen and (max-width: 900px) {
    .section {
      padding-top: 70px;
      padding-bottom: 70px; } }
  @media screen and (max-width: 750px) {
    .section {
      padding-top: 45px;
      padding-bottom: 45px; }
      .section__heading {
        margin-bottom: 40px; } }
  @media screen and (max-width: 450px) {
    .section {
      padding-left: 30px;
      padding-right: 30px; } }

.info {
  max-width: 755px; }
  .info__paragraph {
    margin-top: 10px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1140px;
  margin: auto; }
  .row__item {
    max-width: 265px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .row_client .row__item {
    max-width: 314px; }
  @media screen and (max-width: 1150px) {
    .row_client {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .row_client .row__item {
      margin: 0 50px 50px; }
    .row_client .row__item:last-child {
      margin-bottom: 0; } }
  @media screen and (max-width: 1050px) {
    .row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .row__item {
        margin: 0 70px 50px; } }
  @media screen and (max-width: 540px) {
    .row_client .row__item {
      margin-left: 0;
      margin-right: 0; } }
  @media screen and (max-width: 450px) {
    .row__item {
      margin-left: 0;
      margin-right: 0; }
    .row_client .row__item {
      margin-left: -10px;
      margin-right: -10px; } }

.service__photo {
  position: relative;
  width: 166px;
  height: 166px;
  border-radius: 15%;
  overflow: hidden; }

.service__img {
  width: 100%; }

.service__heading {
  margin: 40px 0 16px; }

.process {
  max-width: 360px; }
  .process__top {
    color: #c0cdd7; }
  .process__heading {
    margin-top: 16px; }
  .process__paragraph {
    margin-top: 24px; }
  @media screen and (max-width: 1100px) {
    .process {
      margin: 0 auto 55px; } }

.container {
  display: grid;
  grid-template-columns: 264px 264px;
  gap: 30px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 1100px) {
    .container {
      margin-bottom: -80px; } }
  @media screen and (max-width: 670px) {
    .container {
      grid-template-columns: 264px;
      margin-bottom: 0; } }

.box {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 264px;
  height: 264px;
  padding: 32px;
  border-radius: 24px;
  background: white;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }
  .box:nth-child(odd) {
    top: 135px; }
  .box__num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 46px;
    height: 24px;
    margin-bottom: 24px;
    border-radius: 23px;
    background: rgba(86, 203, 242, 0.25);
    color: #56ccf2; }
    .box__num_yellow {
      background: rgba(252, 200, 29, 0.25);
      color: #fcc91d; }
    .box__num_green {
      background: rgba(21, 216, 79, 0.25);
      color: #15d850; }
    .box__num_red {
      background: rgba(243, 99, 99, 0.25);
      color: #f36363; }
  .box__text {
    margin-bottom: 32px; }
  .box__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 143px; }
  @media screen and (max-width: 1100px) {
    .box:nth-child(odd) {
      top: 0; }
    .box:nth-child(even) {
      top: 135px; } }
  @media screen and (max-width: 670px) {
    .box:nth-child(even) {
      top: 0; } }

.section-approach {
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 0;
  padding-left: 120px; }
  .section-approach__wrap {
    position: relative;
    padding: 205px;
    background-color: #ff9c8e;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    overflow: hidden;
    z-index: -1; }
  .section-approach__photo {
    position: absolute;
    width: 687px;
    height: 680px;
    bottom: 0;
    right: 0;
    border-top-left-radius: 200px;
    overflow: hidden; }
  .section-approach__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media screen and (min-width: 1601px) {
    .section-approach__wrap {
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px; } }
  @media screen and (max-width: 1450px) {
    .section-approach {
      padding-left: 50px; }
      .section-approach__wrap {
        padding-left: 100px; } }
  @media screen and (max-width: 1250px) {
    .section-approach__wrap {
      padding-bottom: 100px; }
    .section-approach__photo {
      width: 549.6px;
      height: 544px; } }
  @media screen and (max-width: 1150px) {
    .section-approach {
      padding-left: 0; }
      .section-approach__wrap {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 130px;
        border-radius: 0; }
      .section-approach__photo {
        display: none; } }
  @media screen and (max-width: 900px) {
    .section-approach {
      padding-top: 70px; }
      .section-approach__wrap {
        padding-bottom: 70px; } }
  @media screen and (max-width: 750px) {
    .section-approach {
      padding-top: 95px; }
      .section-approach__wrap {
        padding-bottom: 45px; } }
  @media screen and (max-width: 670px) {
    .section-approach {
      padding-top: 0; }
      .section-approach__wrap {
        padding-top: 45px; } }
  @media screen and (max-width: 450px) {
    .section-approach__wrap {
      padding: 30px; } }

.approach {
  max-width: 371px;
  color: white; }
  .approach__heading {
    margin: 16px 0 32px; }
  .approach__top, .approach__paragraph {
    color: inherit; }
  .approach__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .approach__text:not(:last-child) {
    margin-bottom: 64px; }
  .approach__icon {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 64px;
    height: 64px;
    margin-right: 34px;
    border-radius: 50%;
    background-color: white;
    background-image: url(../images/features/features-item-icon-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .approach__icon_calendar {
    background-image: url(../images/features/features-item-icon-2.svg); }
  .approach__icon_doc {
    background-image: url(../images/features/features-item-icon-3.svg); }
  @media screen and (max-width: 1150px) {
    .approach {
      margin: auto;
      max-width: 500px; } }
  @media screen and (max-width: 450px) {
    .approach__text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 50px; }
    .approach__text:not(:last-child) {
      margin-bottom: 32px; }
    .approach__icon {
      width: 50px;
      height: 50px;
      margin: 7px 0 25px; } }

.testimonials {
  max-width: 1140px;
  margin: auto; }
  .testimonials__top {
    color: #c0cdd7; }
  .testimonials__heading {
    width: 200px;
    margin-top: 16px;
    margin-bottom: 85px; }
  @media screen and (max-width: 1150px) {
    .testimonials {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .testimonials__heading {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content; } }

.client {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  background: white;
  border-radius: 24px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }
  .client__decor {
    position: absolute;
    width: 10px;
    height: 56px;
    border-radius: 500px;
    left: calc(50% - 5px);
    top: 93px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%); }
    .client__decor::before {
      position: absolute;
      content: "";
      display: block;
      width: 140px;
      height: 56px;
      border-radius: inherit;
      left: -109px;
      top: -4px;
      background: inherit;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
    .client__decor::after {
      position: absolute;
      content: "";
      display: block;
      width: 140px;
      height: 56px;
      border-radius: inherit;
      left: -24px;
      top: 85px;
      background: inherit;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
  .client__photo {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 57px;
    z-index: 1; }
  .client__img {
    width: 100%; }
  .client__quotes {
    width: 24px;
    height: 24px;
    margin-top: 82px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .client__text {
    margin-top: 11px; }
  .client__name {
    margin-top: 16px;
    color: #253757; }
  .client__company {
    margin-top: 5px;
    color: #c0cdd7; }
  .client_first .client__decor {
    background-color: #56ccf2; }
  .client_second .client__decor {
    background-color: #fcc304; }
  .client_third .client__decor {
    background-color: #f25656; }
  .client_first .client__quotes {
    background-image: url(../images/testimonials/1.png); }
  .client_second .client__quotes {
    background-image: url(../images/testimonials/2.png); }
  .client_third .client__quotes {
    background-image: url(../images/testimonials/3.png); }

/*# sourceMappingURL=main.css.map */
