body,
ul,
button,
input,
textarea,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
  a:focus {
    outline: 2px solid #ff9c8e; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600; }

html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5; }

.header__top {
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase; }

@media screen and (max-width: 900px) {
  .header__top {
    font-size: 20px; } }

.title__heading {
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px; }

@media screen and (max-width: 750px) {
  .title__heading {
    font-size: 34px;
    line-height: 37px;
    letter-spacing: -1px; } }

@media screen and (max-width: 450px) {
  .title__heading {
    font-size: 30px; } }

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px; }

.header {
  position: relative;
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 45px 50px 205px;
  border-bottom-left-radius: 200px;
  background-color: #008aff;
  overflow: hidden;
  color: white; }
  .header__wrap {
    position: relative;
    max-width: 1140px;
    margin: auto; }
  .header__logo {
    position: absolute;
    top: 0;
    left: 0; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 28px;
    margin-left: 124px; }
  .header__action {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 70px; }
    .header__action::after {
      content: "";
      position: absolute;
      display: block;
      width: calc(100% - 3px);
      height: 2px;
      background: #ff9c8e;
      border-radius: 4px;
      bottom: -8px; }
  .header__text {
    margin-top: 165px; }
  .header__slider {
    position: absolute;
    bottom: 0;
    right: 0; }
  .header__toggle {
    display: none; }
  .header__btn {
    position: absolute;
    display: none;
    width: 25px;
    height: 20px;
    padding: 6px 0;
    top: 0;
    right: 0;
    cursor: pointer; }
  .header__span, .header__span::before, .header__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 14px;
    border-radius: 2px;
    background-color: white;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .header__span::before {
    content: "";
    top: -8px; }
  .header__span::after {
    content: "";
    top: 8px; }
  .header__toggle:checked ~ .header__btn > .header__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header__toggle:checked ~ .header__btn > .header__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .header__toggle:checked ~ .header__btn > .header__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .header__toggle:checked ~ .header__top {
    height: 225px; }
  @media screen and (min-width: 1600px) {
    .header {
      border-bottom-right-radius: 200px; } }
  @media screen and (max-width: 1500px) {
    .header {
      padding-bottom: 95px;
      border-bottom-left-radius: 150px; }
      .header__text {
        margin-top: 50px; } }
  @media screen and (max-width: 900px) {
    .header {
      padding-bottom: 50px;
      border-bottom-left-radius: 100px; }
      .header__wrap {
        padding-top: 30px; }
      .header__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        height: 0;
        margin-left: 0;
        overflow: hidden;
        -webkit-transition: height 0.5s;
        transition: height 0.5s; }
      .header__action {
        margin-left: 0; }
      .header__btn {
        display: block; } }
  @media screen and (max-width: 750px) {
    .header {
      max-width: 500px;
      padding-bottom: 385px;
      border-bottom-left-radius: 85px;
      border-bottom-right-radius: 85px; } }
  @media screen and (max-width: 450px) {
    .header {
      padding: 25px 25px 310px;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 0; } }

.logo {
  display: block;
  width: 46px;
  height: 28px;
  background-image: url(../images/logo/Air-logo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.nav {
  width: 690px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__link, .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    color: white;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover, .header__link:hover {
      color: #ff9c8e; }
  @media screen and (max-width: 900px) {
    .nav {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        margin-top: 30px; } }

.title {
  max-width: 365px; }
  .title__heading {
    margin-bottom: 32px; }
  .title__paragraph {
    margin-bottom: 83px; }
  .title__btn {
    width: 225px; }
  @media screen and (max-width: 900px) {
    .title__paragraph {
      margin-bottom: 45px; } }

.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  background: #ff9c8e;
  border: 2px solid #ff9c8e;
  border-radius: 64px;
  cursor: pointer;
  color: white;
  outline: none;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .btn:hover {
    background: white; }
  .btn:hover {
    color: #ff9c8e; }
  .btn:focus {
    -webkit-box-shadow: 0 3px 25px white;
            box-shadow: 0 3px 25px white; }

.slider {
  width: 687px;
  height: 680px;
  border-top-left-radius: 200px;
  overflow: hidden; }
  .slider__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media screen and (max-width: 1500px) {
    .slider {
      width: 480.9px;
      height: 476px;
      border-top-left-radius: 150px; } }
  @media screen and (max-width: 900px) {
    .slider {
      width: 343.5px;
      height: 340px;
      border-top-left-radius: 100px; } }
  @media screen and (max-width: 750px) {
    .slider {
      border-top-left-radius: 85px; } }
  @media screen and (max-width: 450px) {
    .slider {
      width: 274.8px;
      height: 272px;
      border-top-left-radius: 35px; } }

/*# sourceMappingURL=main.css.map */
